<nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item padding4" (click)="goBack()">
        <img src="{{homeLogo}}" width="145" height="56">
      </a>

      
      <a role="button" class="navbar-burger burger" [class.is-active]="isActive" aria-label="menu" aria-expanded="false" data-target="navbarMain" (click)="showNavBar()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div  class="navbar-menu" [class.is-active]="isActive">
      <div class="navbar-start">
        <a *ngIf="mode=='video'" class="navbar-item" (click)="doCmd.emit(1)">Chi siamo</a>

        <div *ngIf="mode=='video'" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Video</a>
          <div class="navbar-dropdown">
            <a *ngFor="let title of titles; let i=index" class="navbar-item" href="#{{section_ids[i]}}">
              {{title}}
            </a>
          </div>
        </div>

        <a *ngIf="mode=='video'" class="navbar-item" (click)="doCmd.emit(5)">Articoli</a>

        <a *ngIf="mode=='other'" class="navbar-item"  (click)="goBack()" >Video</a>
        
        <a *ngIf="mode != 'other' and user_name==''" class="navbar-item" (click)="doCmd.emit(95)">Iscriviti</a>
        <div class="navbar-item">{{user_name}}</div>
               
<!--         <div  *ngFor="let menu of menus" class="navbar-item has-dropdown is-hoverable">
            <app-menu-drop [menu]="menu" (doCmd)="doCmd.emit($event)" ></app-menu-drop>
        </div> -->
       
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Categorie
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" (click)="doCmd.emit(1)">
              Chi siamo
            </a>
            <a class="navbar-item" (click)="doCmd.emit(2)">
              Jobs
            </a>
            <a class="navbar-item" (click)="doCmd.emit(3)">
              Contatti
            </a>
            <a class="navbar-item" (click)="doCmd.emit(4)">
              Privacy
            </a>

            <hr class="navbar-divider">
            <a class="navbar-item" (click)="doCmd.emit(5)">
              Report an issue
            </a>
          </div>
        </div>
        <a class="navbar-item">
            Iscriviti
        </a>
      -->  
      </div>
      <div *ngIf="mode != 'other'" class="navbar-end">
        <div *ngIf="user_name != ''" class="navbar-item">
          <div class="buttons">
            <a class="button is-light" (click)="doCmd.emit(97)">Log Out</a>
          </div>
        </div>
        <div *ngIf="user_name == ''" class="navbar-item">
          <div class="buttons">
            <a class="button is-light" (click)="doCmd.emit(99)">Log In</a>
          </div>
        </div>
      </div>

    </div>
  </nav>