<app-top-bar 
[mode]=topBarMode
[menus]=menus2 
[titles]=titles 
[user_name]="userName" 
[section_ids]="section_id" 
(doCmd)="execCmd($event)"></app-top-bar>
<section class="section">
    <div class="container">
        <div *ngFor="let article of articles" class="card">       
            <div class="card-image">
                <figure class="image">
                    <img src="{{article.pic_url}}" width="640" heigth="auto" alt="immagine">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="title is-4">{{article.title}}</p>
                    <div [innerHTML]="article.text">

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
