<app-top-bar 
[mode]=topBarMode
[menus]=menus2 
[titles]=titles 
[user_name]="userName" 
[section_ids]="section_id" 
(doCmd)="execCmd($event)"></app-top-bar>

<section>	  <hr></section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
			              <h4 class="text-left text-uppercase"><strong>EIFIS Editore</strong></h4>
            <p class="text-left">EIFIS Editore nasce dalla voglia di unire spiritualità, benessere fisico e mentale, psicologia, yoga e meditazione in una formula in grado di coinvolgere ed appassionare il pubblico occidentale. Proponiamo temi presenti da migliaia di anni nella cultura orientale, ma con un approccio del tutto nuovo. Fondiamo la nostra filosofia sull’Energia, PHYL e gli insegnamenti superiori dei grandi Maestri Spirituali, antichi e moderni. Crediamo in una vita di Benessere ed Unione e condividiamo questi principi con i nostri autori. Proponiamo un contatto diretto tra lettori e autori, attraverso incontri, presentazioni e workshop, per diffondere le tecniche contenute nei libri e per offrire spazi di approfondimento.<br>	
I fondatori, Loretta Zanuccoli, Leonardo Cigolini Gulesu, Master Choa Kok Sui e Charlotte Anderson hanno fortemnete creduto nella necessità di donare strumenti facili, tecniche efficaci, consigli utili per riporatre più energia nella vita dei lettori e aiutarli a riscoprire che tutto ciò che accade, accade sempre per il bene di tutti noi, e che ognuno di noi può contribuire alla realizzazione di un mondo milgiore, portando più consapevolezza, più energia e più amore, nella propria vita e nella vita degli altri.</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
			              <h4 class="text-left text-uppercase"><strong>ENERGIE MAGAZINE</strong></h4>
            <p class="text-left">Nel 2011 è nata Energie Magazine, un periodico per l’edicola, distribuito in tutta Italia. Energie si propone di cambiare radicalmente il nostro stile di vita con approfondimenti sul benessere, sulla crescita personale ed interiore e su un’alimentazione sana e naturale. Una vera e propria rivoluzione energetica!<br>	
ENERGIE è un trimestrale dedicato al mondo delle terapie naturali, al benessere olistico e al mondo energetico!<br>	
Ti accompagnerà alla scoperta di percorsi e tecniche per riscoprire il pieno benessere nella tua vita, nelle relazione e nel lavoro! L’attenzione di ENERGIE è rivolta al mondo energetico, allo yoga, alla meditazione, ai percorsi di crescita personale
ed ai percorsi di ricerca interiore, all’ alimentazione sana e naturale, allo sport e ad uno stile di vita più sano e in armonia con il Pianeta! Ogni numero sarà dedicato ad un concetto che farà da filo conduttore a tutti gli articoli dando la possibilità di
spiegarlo a 360 gradi.</p>
          </div>
        </div>
      </div>
    </section>
   <hr><hr><hr>
	  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
			              <h4 class="text-left text-uppercase"><strong>Chi siamo</strong></h4>
          </div>
        </div>
      </div>
    </section>
	  <hr>
   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
          <img src="assets/images/loretta_zanuccoli_45_65.jpg" alt="" width="300" height="361" class="img-fluid flo"/> </div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Loretta Zanuccoli</strong></h5>
            <p class="text-left"><strong>Founder</strong><br>
Inizia il suo percorso formativo con l’Astrologia, che studia da autodidatta dal 1970, la Radiestesia e la Radionica. I suoi interessi
si allargano alla Pranoterapia, nel 1982 diventa allieva di Dzuna Davidasvili e dopo avere effettuato studi sul corpo bioplasmico
con la Camera Kirlian si accosta alle discipline orientali. La sua ricerca ha una svolta nel 1992, quando conosce Grand Master
Choa Kok Sui che le insegna a percepire con le mani i campi energetici sottili. Diventa allieva di Grand Master Choa Kok
Sui e segue il Maestro nei suoi seminari in Svizzera, Austria e Germania. Nel 1993 riceve l’incarico di diffondere in Italia gli
insegnamenti di Grand Master Choa Kok Sui e quindi fonda l’Associazione Pranic Healing. Cura la pubblicazione in Italiano dei
libri di Master Choa Kok Sui ed organizza periodicamente seminari con Master Choa Kok Sui in collaborazione con l’Institute
for Innner Studies di Manila. In Italia apre 7 centri di Pranic Healing e forma decine di istruttori. Nel 2001 riceve da Master
Choa Kok Sui l’incarico di iniziare la diffusione del Pranic Healing anche in Francia, ed in seguito in Grecia ed altri paesi europei,
e di avviare in Italia il programma di Certificazione dei Pranic Healer. Nel 2002 fonda assieme al marito e a Master Choa Kok
Sui la EIFIS Editore srl. Nel 2004 si occupa della sesta World Pranic Healers Convention a Bellaria (RN). Nel 2010 fonda la
nuova scuola PHYL - Pranic Heal Your Life, per proseguire la sua opera di diffusione degli inestimabili insegnamenti ricevuti,
studiati ed elaborati durante oltre 40 anni di esperienza emconoscenza di Maestri Spirituali ed insegnanti. Nel 2011 d. vita al
nuovo magazine ENERGIE, trimestrale diffuso in edicola su tutto il territorio nazionale che si occupa a 360 gradi di Benessere,
Meditazione e Spiritualità. Si è occupata personalmente del sostegno di enti ed associazioni filantropiche in Italia ed all’estero.
Dal 2017 le figlie e il marito portano avanti il suo lavoro.
</p>
          </div>
     </div>
      </div>
    </section>
	  <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
           <img src="assets/images/master_preghiera1.jpg" alt="" width="300" height="361" class="img-fluid"/></div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Master Choa Kok Sui</strong></h5>
            <p class="text-left"><strong>Founder</strong><br>
Autore di fama internazionale e del best seller “Miracoli con il Pranic Healing” in cui ha svelato al mondo i misteri delle “Energie
Sottili”. I suoi libri sono stati tradotti in oltre 27 lingue. Maestro Spirituale seguito in tutto il mondo, diffonde la sua opera e i suoi
insegnamenti sulle scienze interiori attraverso conferenze e workshops.<br>
Ingegnere Chimico, Filantropo, Businessman di successo, discendente di un’antica famiglia cinese, ha vissuto nelle Filippine.<br>
Il Pranic Healing oggi è diffuso in oltre 40 paesi: Asia, Stati Uniti, America Latina, Europa, Canada e Africa.
</p>
          </div>
     </div>
      </div>
    </section>
	  <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left"><img src="assets/images/photo_2019-10-14_18-08-52-2.jpg" alt="" width="300" height="361" class="img-fluid"/> </div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Leonardo Cigolini Gulesu</strong></h5>
            <p class="text-left"><strong>Founder & Owner</strong><br>
Ha fondato EIFIS assieme alla moglie e al suo Maestro Spirituale. Grazie a lui EIFIS è nata con l’intento di dare ai libri di Master
Choa Kok Sui una presenza anche nel mercato italiano, mettendo gli inestimabili insegnamenti alla portata di tutti i lettori
italiani. CI siamo poi evoluti in una casa editrice dedicata ai suoi lettori, vogliamo diventare.
</p>
          </div>
     </div>
      </div>
    </section>
	  <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
           <img src="assets/images/Elena_Benvenuti.jpg" alt="" width="300" height="361" class="img-fluid"/></div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Elena Benvenuti</strong></h5>
            <p class="text-left"><strong>Direttore Editoriale</strong><br>
Sono psicologa, psicanalista, giornalista, direttore di EIFIS Editore, caporedattore di Energie Magazine, formatrice e autrice.
Sono discepola diretta di Master Choa Kok Sui, amante ed esperta di filosofie orientali e meditazione. Da anni mi occupo di
tematiche legate allo sviluppo individuale e di coppia grazie ad un approccio che integra corpo, mente e spirito; sono docente
della Scuola di Formazione PHYL - Loretta Zanuccoli Yoga System.
</p>
          </div>
     </div>
      </div>
    </section>
	  <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
          <img src="assets/images/IMG_1176.jpg" alt="" width="300" height="361" class="img-fluid"/></div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Laura Cigolini Gulesu</strong></h5>
            <p class="text-left"><strong>Foreign Rights</strong><br>
Sono nata in questa casa editrice e faccio parte della proprietà, la passione per le lingue e per le relazioni colorano da sempre
il mio lavoro. Sono la quota internazionale della casa editrice. I miei strumenti di lavoro sono iPhone e Mac: mi occupo di
tutti i contatti con gli autori stranieri, la contrattualistica internazionale e le traduzioni. Sono la voce italiana dei nostri autori
internazionali. Sono docente della Scuola di Formazione PHYL - Loretta Zanuccoli Yoga System.
</p>
          </div>
     </div>
      </div>
    </section>
	  <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
           <img src="assets/images/IMG_6457.jpg" alt="" width="300" height="361" class="img-fluid"/></div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Davide Cortesi </strong></h5>
            <p class="text-left"><strong>Art Director</strong><br>
Sono consulente di direzione e formatore senior, specializzato in psicologia del lavoro e performance, da anni mi occupo di
Empowerment Individuale e Organizzativo, Executive Coaching e Talent Development con particolare attenzione all’aspetto
energetico dell’essere umano. Ho studiato Mindfulness e Meditazione Vipassana (tradizione Theravada) in India, Thailandia
e Filippine, per poi applicarne i principi in ambito organizzativo e individuale. Ho ideato la metodologia EmpowerME®, un
nuovo approccio alla performance individuale e organizzativa che opera attraverso lo sviluppo dell’energia interiore, della
consapevolezza e della focalizzazione.
Sono l’Art Director di EIFIS Editore, coordino e supervisiono il reparto grafico e sono la parte creativa e “pignola” del gruppo.
</p>
          </div>
     </div>
      </div>
    </section>
	  <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
           <img src="assets/images/IMG_1170.jpg" alt="" width="300" height="361" class="img-fluid"/></div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Melany Bisacchi</strong></h5>
            <p class="text-left"><strong>Assistente di direzione e amministrativo</strong><br>
Sono il braccio destro del direttore, inoltre mi occupo della parte amministrativa di EIFIS Editore. I numeri, i calcoli e le fatture
accompagnano ogni mia giornata lavorativa. Sono il contatto diretto con i nostri meravigliosi autori e sono la memoria e il
punto di snodo di tutte le attività della casa editrice. La passione per il mio lavoro anima le mie relazioni e tutto ciò che realizzo
in EIFIS.  
</p>
          </div>
     </div>
      </div>
    </section>
	  <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
          <img src="assets/images/IMG_1168.jpg" alt="" width="300" height="361" class="img-fluid"/></div>
		   <div class="col-12 text-center">
			              <h5 class="text-left"><strong>Luciana Agirelli</strong></h5>
            <p class="text-left"><strong>Graphic Designer</strong><br>
Sono la responsabile dell’ufficio grafico. Il mio lavoro consiste nel dare alla luce i bellissimi progetti a cui lavoriamo, sono la
realizzatrice delle idee visionarie del nostro Art Director. InDesign, Lightroom, Photoshop sono compagni di viaggio e aiutanti in
un lavoro che parte dall’immaginazione sino ad arrivare alla realizzazione grafica di ciò che gli autori con amore ci donano.
</p>
          </div>
     </div>
      </div>
    </section>
