<app-top-bar 
[mode]=topBarMode
[menus]=menus2 
[titles]=titles 
[user_name]="userName" 
[section_ids]="section_id" 
(doCmd)="execCmd($event)"></app-top-bar>

<section>	  <hr></section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
         <img src="assets/images/mani.jpg" width="199" height="111" alt=""/><br></div>
        </div>
      </div>
    </section>
	  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-left text-uppercase"><strong>SERVIZIO CLIENTI
</strong></h4>
			  <p class="text-left"><strong>Chiamaci: +39 0544 72215<br>
Whatt’sApp: 351 8087232</strong><br><br>

dal lunedì al giovedì, dalle 9 alle 18<br>
il venerdì dalle 9 alle 16.30</p>
          </div>
        </div>
      </div>
    </section>
	  <hr>
	  <hr>
	          <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-left text-uppercase"><strong>Assitenza</strong></h4>
            <p class="text-left"><strong>Come possiamo aiutarti?</strong><br>
              <br>
              <strong>Problemi con il tuo account?</strong> Scrivi a: <a href="mailto:servizioclienti@eifis.it">servizioclienti@eifis.it</a><br>
              <strong>Informazioni o richieste relative a Energie Magazine?</strong> Scrivi a: <a href="mailto:redazione@energiemagazine.it">redazione@energiemagazine.it</a><br>
			  <strong>Problemi con l’account?</strong> Scrivi a: <a href="mailto:webmaster@eifis.it">webmaster@eifis.it</a><br>
          </div>
        </div>
      </div>
    </section>
	  <hr>
	  <hr>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-left text-uppercase"><strong>Contatti</strong></h4>
			  <p class="text-left"><strong>ENERGIE Magazine<br>EIFIS Editore S.r.l.</strong><br>

Viale Malva Nord, 28  -  48015 Cervia (RA)<br>
Tel. +39 0544 72215 <br>
segreteria@eifis.it <br><br>

P.iva 03317470403<br>
PEC eifis@pec.eleusi.at<br>
SDI: M5UXCR1<br>
REA: RA - 181132<br><br>

Capitale Sociale €119.000 i.v.
</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
