<div class="modal" [class.is-active]="mode>0">
    <div class="modal-background" (click)="closeForm()"></div>
    <div class="modal-content">
        <div class="box">
           
            <div class="columns">
                <div class="column" [class.is-two-thirds]="mode==1">
                    <h1>{{titles[mode]}}</h1>
                    <p>{{descriptions[mode]}}</p>

                    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                        <p *ngIf="notice != ''">{{notice}}</p>

                        <div class="field">
                            <div class="control">
                                <input id="userInput" class="input" type="text" placeholder="digitare email" name="user" ngModel />
                            </div>
                        </div>
                        <div *ngIf="mode==1" class="field">
                            <div class="control">
                                <input id="pwdInput" class="input" type="text" placeholder="digitare password" name="password" ngModel />
                            </div>
                        </div>
                        <div *ngIf="mode==1" class="field is-grouped">
                            <div class="control">
                            <button type="submit" class="button is-danger">Accedi</button>
                            </div>
                            <div class="control">
                                <a class="is-size-7" (click)="closeForm(76); false">Password dimenticata?</a>
                            </div>
                        </div>
                        <div *ngIf="mode==2" class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-danger">Registrati</button>
                            </div>
                        </div>
                        <div *ngIf="mode==3" class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-danger">Recupera</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="mode==1"  class="column xx">
                    
                    <label for="btn1" class="label">Non hai un account?</label>
                    <div class="control">
                        <button id="btn1" class="button is-link is-danger" (click)="closeForm(77); false">Registrati</button>
                    </div>
                </div>
            </div>
        </div>
      
      
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeForm()"></button>
  </div>
