<div class="modal" [class.is-active]="isActive">
    <div class="modal-background" (click)="closeForm()"></div>
    <div class="modal-content">
        <div class="box">
            <h1>{{title}}</h1>

            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <p *ngIf="notice != ''">{{notice}}</p>

                <div class="field">
                    <label for="userInput" class="label">Email</label>
                    <div class="control">
                        <input id="userInput" class="input" type="text" placeholder="digitare email" name="user" ngModel />
                    </div>
                </div>
                <div *ngIf="mode=='1'" class="field">
                    <label for="pwdInput" class="label">Password</label>
                    <div class="control">
                        <input id="pwdInput" class="input" type="text" placeholder="digitare password" name="password" ngModel />
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                    <button class="button is-link is-light" (click)="closeForm(); false">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
      
      
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeForm()"></button>
  </div>
