<div class="modal" [class.is-active]="isActive">
    <div class="modal-background" (click)="doCmd.emit(96)"></div>
    <div class="modal-content">
        <div class="box has-padding">
            <article class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img src="assets/images/ciak.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <h2>{{message}}</h2>
                </div>
              </div>
            </article>
          </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="doCmd.emit(96)"></button>
</div>