<app-top-bar 
[mode]=topBarMode
[menus]=menus2 
[titles]=titles 
[user_name]="userName" 
[section_ids]="section_id" 
(doCmd)="execCmd($event)"></app-top-bar>

<section>	  <hr></section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-left text-uppercase"><strong>PRIVACY POLICY</strong></h4>
			  <p class="text-left">Prima di comunicarci qualsiasi Suo dato personale, EIFIS EDITORE S.R.L., con sede in Cervia, Viale Malva Nord, 28, in qualità di Titolare del trattamento dei dati personali (il “Titolare”), La invita a leggere con attenzione la presente Privacy Policy, poiché contiene informazioni importanti sul trattamento e sulla tutela dei Suoi dati personali. Secondo la normativa indicata, tale trattamento sarà improntato ai principi di correttezza, liceità, trasparenza e di tutela della Sua riservatezza e dei Suoi diritti.</p>
          </div>
        </div>
      </div>
    </section>
	  <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-left text-uppercase"><strong>INFORMATIVA PER IL TRATTAMENTO DEI DATI PERSONALI</strong></h4>
            <p class="text-left">Informativa resa ai sensi e per gli effetti dell’art.13 del Decreto Legislativo 30 giugno 2003, n. 196 (“Codice in materia di protezione dei dati personali” o “Codice Privacy”) e dell’art. 13 del Regolamento (UE) 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali (“Regolamento Generale sulla Protezione dei Dati” o “Reg. UE 2016/679”), di seguito definita “Informativa” o “Informativa Privacy”.<br>
L’informativa è resa solo per il sito www.energiemagazine.it a dominio del Titolare, EIFIS Editore S.r.l. (il “Sito”) e non anche per altri siti web di proprietà di terzi eventualmente consultati dall’utente tramite link presenti sul Sito e per i quali il Titolare non è responsabile.<br>
Se l’utente ha meno di 16 anni, lo stesso dovrà legittimare il suo consenso attraverso l’autorizzazione dei genitori o di chi ne fa le veci, ai sensi e per gli effetti dell’art. 8, comma 1 del Reg. UE 2016/679.
</p>
          </div>
        </div>
      </div>
    </section>
	  <hr>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">1. Oggetto del trattamento e categorie di dati<br>Dati personali</span></strong></h5>
            <p class="text-left">A seguito della consultazione del Sito possono essere trattati dati relativi a persone identificate o identificabili e, pertanto, anche i Suoi dati personali, quale utente che consulta il Sito.<br>
In particolare, il Titolare tratta, secondo le finalità e modalità sotto indicate, i dati personali (quali, a titolo esemplificativo ma non esaustivo, nome, cognome, ragione sociale, indirizzo, numero di telefono, e-mail, codice fiscale o partita iva,– di seguito “Dati Personali” o anche “Dati”) da Lei forniti nell’ambito della sua navigazione nel Sito.<br>
In particolare, i Dati Personali che possono formare oggetto di trattamento da parte del Titolare sono i seguenti:<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
       <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Dati di navigazione</span></strong></h5>
            <p class="text-left">I sistemi informatici e le procedure software preposte al funzionamento del Sito acquisiscono, nel corso del loro normale esercizio, alcuni Dati Personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.<br>
Si tratta di informazioni che non sono raccolte per essere associate a soggetti interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.
In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.
Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del Sito e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo l’elaborazione. I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di eventuali reati informatici ai danni del Sito: salva questa eventualità, allo stato i Dati sui contatti web persistono, in relazione ai cookies attivi, secondo le modalità e i tempi indicati nella Cookies Policy.
 <br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Dati forniti dall’Utente<br>A) Creazione di un account di registrazione al Sito</span></strong></h5>
            <p class="text-left">Al momento della registrazione e creazione di un Suo account nel Sito, Le chiediamo di fornire un indirizzo email da confermare e una password sicura.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">B) Acquisto prodotti</span></strong></h5>
            <p class="text-left">L’acquisto di un prodotto offerto nel Sito presuppone che Le vengano richiesti alcuni Suoi Dati quali: nome, cognome, indirizzo di residenza o domicilio, numero di telefono fisso o mobile, indirizzo di consegna, codice fiscale o partita iva per scaricare la fattura, per elaborare l’ordine ed il relativo pagamento nonché procedere alla spedizione del prodotto acquistato.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">C) Newsletter per acquisire informazioni sui prodotti offerti nel Sito o su eventi o altre iniziative – anche promozionali - legate ai prodotti offerti nel Sito</span></strong></h5>
            <p class="text-left">L’invio facoltativo, esplicito e volontario di un Suo indirizzo di posta elettronica per l’iscrizione alla newsletter, per acquisire informazioni sui prodotti offerti nel Sito o su eventi o altre iniziative – anche promozionali - che viene effettuato tramite apposito modulo posizionato nel footer del Sito, comporta la successiva acquisizione del Suo indirizzo di posta elettronica.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">D) Richiesta da parte dell’Utente di contatto per informazioni o assistenza</span></strong></h5>
            <p class="text-left">L’invio facoltativo, esplicito e volontario di un Suo indirizzo di posta elettronica o altri Suoi Dati per la richiesta di informazioni sui prodotti o ulteriori contenuti offerti nel Sito o per la richiesta di assistenza in merito che viene effettuato tramite apposito modulo di contatto presente nel Sito, comporta la successiva acquisizione del Suo indirizzo di posta elettronica e degli altri Suoi Dati Personali forniti.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">2. Base Giuridica, finalità del trattamento e natura obbligatoria o facoltativa del trattamento</span></strong></h5>
            <p class="text-left">I Dati Personali da Lei forniti in occasione della creazione di un Suo account di registrazione al Sito o di richieste per l’acquisto di prodotti offerti nel Sito o dell’iscrizione alla newsletter o di richieste di essere contattato per ricevere ulteriori informazioni relativi ai prodotti stessi o ulteriori specifici contenuti nel Sito nonché assistenza in merito sono oggetto di trattamento per le seguenti finalità:<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
   	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">A) senza il Suo consenso espresso (art. 24 lett. a), b), c) Codice Privacy e art. 6 lett. b), e) del Reg. UE 2016/679, per le seguenti finalità:</span></strong></h5>
			  <ul class="text-left">
  <li>acquisire dati di navigazione;</li>
  <li>consentire al Titolare di processare una Sua richiesta o evadere l’ordine di acquisto;</li>
  <li>adempiere alle attività amministrative e contabili connesse all’evasione dell’ordine di acquisto;</li>
  <li>redigere report e statistiche ancorché su base anonima;</li>
  <li>adempiere e conformarsi agli obblighi previsti dalla legge, da un regolamento, dalla normativa comunitaria o da un ordine dell’autorità di controllo (Garante per la Protezione dei Dati Personali) o altre autorità competenti;</li>
  <li>esercitare i diritti del Titolare, quali a titolo esemplificativo e non esaustivo il diritto di difesa in giudizio.</li>
</ul>
            <p class="text-left">A parte quanto specificato per i dati di navigazione, il conferimento dei Suoi Dati Personali per le predette finalità è facoltativo. Un eventuale rifiuto di fornire i Suoi Dati Personali determina l’impossibilità di soddisfare la Sua richiesta o evadere l’ordine di acquisto o di redigere report e statistiche.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">B) solo previo Suo specifico e distinto consenso (artt. 23 e 130 del Codice Privacy e art. 7 del Reg. UE 2016/679) e fino ad opposizione/revoca, per le seguenti finalità:</span></strong></h5>
			  <ul class="text-left">
  <li>comunicazione di iniziative commerciali, promozionali, pubblicitarie e di marketing in senso lato del Titolare, comunicazioni ed informazioni commerciali, promozioni dei prodotti esistenti e di nuovi prodotti analoghi a quelli già proposti, partecipazione o inviti ad eventi e/o manifestazioni o concorsi a premio e similari organizzati dal Titolare anche mediante invio di newsletter e servizio mailing list.</li>
  <li>rilevazione del grado di soddisfazione sulla qualità dei prodotti e ogni altra informazione che possa essere di Suo interesse;</li>
</ul>
            <p class="text-left">La prestazione del Suo consenso al trattamento per queste finalità è del tutto facoltativa e l’eventuale rifiuto non pregiudicherà l’evasione dell’ordine di acquisto dei prodotti offerti nel Sito né la soddisfazione delle Sue richieste di informazioni o assistenza, essendo semplicemente impedite le attività di trattamento secondario di cui alle finalità specificate all’art. 2 lett. B).<br><br>
 
La informiamo infine che il consenso al trattamento per le suddette finalità da Lei eventualmente prestato può essere revocato in qualsiasi momento secondo quanto previsto all’art. 8 della presente Informativa.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">3. Cookies</span></strong></h5>
            <p class="text-left">Per i dettagli in merito all’uso dei cookies e per conoscere la politica sui cookies adottata dal Titolare del trattamento, si rimanda all’apposita Informativa sui cookies.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">4. Modalità di trattamento e conservazione</span></strong></h5>
            <p class="text-left">Il trattamento dei Suoi Dati personali avviene per mezzo delle operazioni indicate all’art. 4 del Codice Privacy e all’art. 4 n. 2) del Reg. UE 2016/679 e precisamente: raccolta, registrazione, organizzazione, conservazione, consultazione, elaborazione, modificazione, selezione, estrazione, raffronto, utilizzo, interconnessione, blocco, comunicazione, cancellazione e distruzione dei dati.<br>
Il Titolare tratta i Suoi Dati personali adottando le opportune misure di sicurezza volte ad impedire l’accesso, la divulgazione, la modifica o la distruzione non autorizzata dei Dati personali.<br>
I Suoi Dati personali sono sottoposti a trattamento sia cartaceo che elettronico e/o automatizzato.<br>
Il trattamento dei Dati avverrà con modalità manuali o elettroniche, idonee a garantirne, in relazione alle finalità per le quali essi sono stati comunicati e raccolti, la sicurezza, nonché ad evitare accessi non autorizzati da parte di terzi e, comunque, nel rispetto di quanto indicato dall’art. 4, comma 1, lett. a) del Codice e dell’art. 32 del Reg. UE 2016/679.<br>
Nel rispetto dei principi di liceità, limitazione delle finalità e minimizzazione dei dati, ai sensi dell’art. 5 del Reg. UE 2016/679, i Suoi Dati Personali saranno conservati per il periodo di tempo necessario per il conseguimento delle finalità per le quali sono stati raccolti e successivamente trattati.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">5. Destinatari o eventuali categorie di destinatari dei Dati Personali</span></strong></h5>
			  <p class="text-left">I Suoi Dati potranno essere resi accessibili per le finalità di cui agli artt. 2.A) e 2.B):
            </p>
			  <ul class="text-left">
  <li>a dipendenti e collaboratori del Titolare, nella loro qualità di incaricati e/o responsabili interni del trattamento e/o amministratori di sistema;</li>
  <li>a società terze o altri soggetti che svolgono attività in outsourcing per conto del Titolare (a titolo esemplificativo e non esaustivo: soggetti incaricati dell’amministrazione, manutenzione ed aggiornamento del sistema informativo e del Sito, quali web provider, cloud provider, provider servizio e-payment, fornitori, tecnici addetti all’assistenza hardware e software) o spedizionieri e vettori, istituti di credito, consulenti o studi professionali nell’ambito di rapporti di assistenza e consulenza a favore del Titolare.</li>
  <li>Senza la necessità di un espresso consenso (ex art. 24 lett. a), b), d) del Codice Privacy e art. 6 lett. b) e c) Reg. UE 2016/679, il Titolare potrà comunicare i Suoi Dati per le finalità di cui all’art. 2.A) a Autorità di controllo o giudiziarie, società bancarie o finanziarie nonché a quei soggetti ai quali la comunicazione sia obbligatoria per legge per l’espletamento delle suddette finalità. Detti soggetti tratteranno i Dati nella loro qualità di autonomi titolari del trattamento.</li>
</ul>
            <p class="text-left">I Suoi Dati possono essere registrati, conservati ed elaborati su server, ubicati in Italia, del Titolare e/o di società terze incaricate.<br>
I Dati connessi al servizio newsletter possono essere trattati dal personale della società che cura la manutenzione e gestione del servizio, MailerLite (www.mailerlite.com), presso la sede della società medesima.<br>
I Suoi Dati non saranno diffusi.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">6. Trasferimento dati</span></strong></h5>
            <p class="text-left">I Suoi dati personali non saranno trasferiti all’estero, né all’interno né al di fuori dell’Unione Europea.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">7. Diritti dell’interessato</span></strong></h5>
            <p class="text-left">Ai sensi dell’art. 7 del Codice Privacy e degli artt. 15-22 del Reg. UE 2016/679, in qualità di interessato, Lei avrà il diritto di ottenere dal Titolare la conferma che sia o meno in corso un trattamento di Dati Personali che La riguardano e, in tal caso, di:
            </p>
			  			  <ul class="text-left">
  <li>ottenere l’accesso ai Suoi Dati Personali e alle seguenti informazioni: - origine, finalità e modalità del trattamento; - logica applicata in caso di trattamento effettuato con l’ausilio di strumenti elettronici; - categorie dei Suoi Dati Personali oggetto di trattamento; - estremi identificativi del Titolare e degli eventuali responsabili del trattamento o responsabili della protezione dei dati personali designati ai sensi dell’art. 5, comma 2 Codice Privacy e art. 3, comma 1, Reg. UE 2016/679; - destinatari o categorie di destinatari a cui i Suoi Dati personali sono stati o saranno comunicati; - se possibile, il periodo di conservazione dei Suoi Dati Personali o i criteri utilizzati per determinarne il periodo;
</li>
  <li>ottenere: a) l’aggiornamento, la rettifica ovvero, quando vi ha interesse, l’integrazione dei Suoi Dati Personali; b) la cancellazione o la rimozione dei Suoi Dati Personali ai sensi dell’art. 7 Codice Privacy e dell’ art. 17 del Reg. UE 2016/679, la trasformazione in forma anonima o il blocco dei Suoi Dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i Dati sono stati raccolti o successivamente trattati o la limitazione del trattamento da parte del Titolare dei Dati che La riguardano; c) l’attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i Suoi Dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato;
</li>
  <li>ottenere, se da Lei richiesta, la portabilità dei Suoi Dati, ossia riceverli dal Titolare del trattamento in un formato strutturato, di uso comune e leggibile, da dispositivo automatico e trasmetterli ad un altro titolare del trattamento senza impedimenti, fatto salvo quanto previsto dai commi 3 e 4 dell’art. 20 del Reg. UE 2016/679.</li>
 <li>opporsi al trattamento dei Suoi Dati da parte del Titolare nonché opporsi ad un processo automatizzato relativo ai Suoi Dati Personali, compresa la eventuale profilazione;</li>
 <li>ottenere, senza ingiustificato ritardo, la comunicazione di una violazione dei Suoi Dati Personali;</li>
 <li>revocare il consenso in qualsiasi momento senza pregiudicare la liceità del trattamento basata sul consenso prestato prima della revoca;</li>
 <li>proporre un reclamo all’autorità di controllo (Autorità Garante per la Protezione dei Dati Personali), fatto salvo ogni altro ricorso amministrativo e giurisdizionale, se ritiene che il trattamento dei Dati che la riguardano violi quanto previsto dal Codice Privacy o dal Reg. UE 2016/679.</li>
 <li>Ottenere l’esistenza di un processo decisionale automatizzato, compresa la profilazione di cui all’articolo 22, commi 1 e 4, del Regolamento UE 2016/679 e, almeno in tali casi, informazioni significative sulla logica utilizzata, nonché l’importanza e le conseguenze previste di tale Trattamento per l’interessato.</li>
</ul>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">8. Modalità di esercizio dei diritti</span></strong></h5>
            <p class="text-left">In qualità di interessato, Lei potrà in qualsiasi momento esercitare i diritti di cui all’art. 7 della presente Informativa nei confronti del Titolare, inviando:</p>
			  			  <ul class="text-left">
  <li>una raccomandata A.R. a EIFIS Editore S.R.L - Viale Malva Nord, 28 – 48015 Cervia (MI)</li>
  <li>una e-mail all’indirizzo segreteria@eifis.it</li>
</ul>
			              <p class="text-left">In ogni caso, il Titolare ha facoltà di chiederLe di verificare la Sua identità prima di intraprendere ulteriori azioni in base alla Sua richiesta.</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">9. Titolare del trattamento</span></strong></h5>
            <p class="text-left">Il Titolare del trattamento EIFIS Editore S.R.L, con sede legale in Viale Malva Nord, 28 – 4015 Cervia (RA), P.I e C.F. 03317470403, numero iscrizione Registro Imprese di Ravenna 181132, nella persona del legale rappresentante pro tempore. Contatto Titolare, email: e.benvenuti@me.com;  telefono: +39 0544 72215
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  	  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">10. Modifiche alla presente Informativa</span></strong></h5>
            <p class="text-left">Il Titolare del trattamento si riserva il diritto di modificare la presente Informativa. Si consiglia quindi un controllo regolare e periodico della stessa e di riferirsi sempre alla versione più aggiornata.
L’ultimo aggiornamento dell’Informativa è stato effettuato in data 10 ottobre 2019.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong>COOKIES POLICY</strong></h5>
            <p class="text-left">Il presente documento è redatto dal titolare del trattamento (di seguito “TITOLARE”), in qualità di titolare del trattamento dei dati personali derivanti dalla navigazione all’interno del presente sito web (di seguito il “Sito”).<br>
Il TITOLARE intende informare l’utente che il Sito utilizza cookies tecnici per garantire un’ottimale esperienza di navigazione. La presente policy sui cookies (“Policy sui Cookies”), che deve essere letta ad integrazione delle informazioni rese nella Privacy Policy, serve per descrivere i tipi di cookies e altre tecnologie usate sul Sito, nonché i motivi e le condizioni di utilizzo dei cookies. Informiamo che alcuni cookies sono necessari per consentire la corretta navigazione del Sito e continuando a navigare si acconsente all’utilizzo di tali cookies.<br>
L’Utente può comunque evitare l’installazione di cookies configurando le impostazioni del suo browser oppure disabilitando l’uso dei siti tramite il browser direttamente, come specificato nel dettaglio di seguito.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Uso dei cookies</span></strong></h5>
            <p class="text-left">Il “Sito” utilizza i Cookies per rendere i propri servizi semplici e efficienti per l’utenza che visiona le pagine di energiemagazine.it. Gli utenti che visionano il Sito vedranno inserite delle quantità minime di informazioni nei dispositivi in uso, che siano computer e periferiche mobili, in piccoli file di testo denominati “cookies” salvati nelle directory utilizzate dal browser web dell’utente. Vi sono vari tipi di cookies, alcuni per rendere più efficace l’uso del Sito, altri per abilitare determinate funzionalità.<br>
Analizzandoli in maniera particolareggiata i nostri cookies permettono di:</p>
			  			  <ul class="text-left">
  <li>memorizzare le preferenze inserite;</li>
  <li>evitare di reinserire le stesse informazioni più volte durante la visita quali ad esempio nome utente e password;</li>
	<li>analizzare l’utilizzo dei servizi e dei contenuti forniti da energiemagazine.it per ottimizzarne l’esperienza di navigazione e i servizi offerti.</li>
</ul>
          </div>
        </div>
      </div>
    </section>
    <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong>Tipologie di Cookies<br>
<span style="color: #000000">Durata<br>
Cookies di sessione</span></strong></h5>
            <p class="text-left">Si tratta di file temporanei che vengono memorizzati fino a quando il sito viene abbandonato (oppure il browser di navigazione viene chiuso).</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	      <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Cookies persistenti</span></strong></h5>
            <p class="text-left">Si tratta di file che vengono immagazzinati e mantenuti anche dopo l’abbandono del sito e la chiusura del browser. Vengono eliminati solamente dopo la data di scadenza indicata nel cookie stesso.</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Dominio<br>Cookies “proprietari”</span></strong></h5>
            <p class="text-left">Si tratta di file che vengono installati sul dispositivo dell’utente direttamente dal sito su cui si sta navigando.
Cookies “di terze parti”<br>
Si tratta di file che vengono installati da siti esterni, attraverso del codice integrato nella pagine del sito che si sta navigando. Sono esempi di cookies di terze parti quelli installati dai plugin social (per la condivisione dei contenuti su siti come Facebook, Twitter, LinkedIn, ed altri) oppure i cookies di analisi delle visite.
</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	     <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Funzione<br>
Cookies “tecnici” indispensabili</span></strong></h5>
            <p class="text-left">Sono essenziali per il corretto funzionamento delle pagine del sito. Senza questi cookies alcune funzionalità potrebbero essere compromesse e l’accesso ai contenuti potrebbe essere limitato. Consentono, ad esempio, di tenere traccia dell’autenticazione effettuata da un utente o da un amministratore del sito. I cookies di questo tipo non raccolgono nessuna informazione personale dell’utente.
</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  	     <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Cookies “tecnici” di funzionalità</span></strong></h5>
            <p class="text-left">Si tratta di cookies utilizzati per memorizzare delle scelte effettuate dall’utente per migliorarne la navigazione (ad esempio la lingua, oppure precompilare una form con il nome utilizzato in precedenza). Questo tipo di cookies potrebbe includere informazioni personali (ad esempio il nome utente). Senza questi cookies alcune funzionalità e la navigazione tra le pagine potrebbero essere compromesse.
</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	  	  	     <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Cookies di performance</span></strong></h5>
            <p class="text-left">Si tratta di cookies utilizzati per capire: se gli utenti sono nuovi oppure di ritorno, come utilizzano il sito, come si muovono tra le pagine, quanto tempo rimangono sulle pagine e sul sito, da che area geografica sono giunti sul sito. I dati non identificano l’utente come persona ma vengono aggregati in modo anonimo da parte degli strumenti di analisi. La disattivazione non compromette in alcun modo le funzionalità offerte dal sito.

</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Cookies di widget social</span></strong></h5>
            <p class="text-left">Alcuni widget messi a disposizione dai social network (ad esempio Facebook ,Twitter, YouTube, Google Maps, ecc.) possono utilizzare propri cookies di terze parti. La disattivazione non compromette l’utilizzo del sito, se non nelle sezioni in cui possono essere installati widget (ad esempio per integrazione di video o mappe) ed in alcuni casi la possibilità di condivisione rapida dei contenuti o la possibilità di commentare alcune aree del sito.
</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Cookies di pubblicità</span></strong></h5>
            <p class="text-left">Questo sito NON fa uso di cookies di questa tipologia. I cookies di pubblicità vengono installati per mostrare ai visitatori del sito contenuti correlati alle loro preferenze. Possono essere quindi utilizzati per mostrare contenuti pubblicitari mirati agli interessi della persona. I cookies di questa tipologia funzionano in collaborazione con siti di terze parti e possono tenere traccia della navigazione passata su pagine presenti su domini differenti. I cookies di questo tipo tengono traccia solitamente dell’indirizzo IP dell’utente oltre ad altre informazioni, alcune delle quali possono essere personali.<br><br>

energiemagazine.it, secondo la normativa vigente, non è tenuto a chiedere consenso per i cookies tecnici e di analytics, in quanto necessari a fornire i servizi richiesti.<br>
Per tutte le altre tipologie di cookies il consenso può essere espresso dall’utente con una o più di una delle seguenti modalità:<br></p>
			  	  <ul class="text-left">
  <li>mediante specifiche configurazioni del browser utilizzato o dei relativi programmi informatici utilizzati per navigare le pagine che compongono il Sito</li>
  <li>mediante modifica delle impostazioni nell’uso dei servizi di terze parti</li>
</ul>
			       <p class="text-left">Entrambe queste soluzioni potrebbero impedire all’utente di utilizzare o visualizzare parti del Sito.</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Siti Web e servizi di terze parti</span></strong></h5>
            <p class="text-left">Il Sito potrebbe contenere collegamenti ad altri siti Web che dispongono di una propria informativa sulla privacy che può essere diversa da quella adottata da energiemagazine.it e che quindi non risponde di questi siti.</p>
          </div>
        </div>
      </div>
    </section>
   
    <hr>
	   <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Google Analytics</span></strong></h5>
            <p class="text-left">I cookies di performance di terze parti di Google Analytics (servizio offerto da Google, Inc.) consentono di raccogliere in forma anonima ed esaminare il comportamento dei visitatori durante l’utilizzo del sito e di migliorare la sua fruibilità e l’esperienza d’uso.<br>
Attraverso l’uso del pannello di Google Analytics, ci è possibile capire se le visite sono state effettuate da visitatori nuovi o di ritorno verificando la modalità di navigazione delle pagine (link di ingresso, di uscita, spostamenti tra le pagine, tempi di permanenza, provenienza geografica, ecc.<br>

Per ulteriori informazioni relative a Google Analytics è possibile consultare i siti:<br>
https://www.google.it/policies/privacy/partners/ <br>
https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage <br><br>

È possibile disabilitare l’azione di Google Analytics attraverso gli strumenti forniti da Google. Per informazioni a riguardo consulare il sito:<br>
https://tools.google.com/dlpage/gaoptout  <br>
</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
<section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Pulsanti e widget di social network</span></strong></h5>
            <p class="text-left">Per fare in modo che i contenuti di un sito possano essere condivisi sui social network dai parte visitatori del sito, è possibile integrare nelle pagine gli strumenti (widget) messi a disposizione dei social network stessi.<br>
Questi strumenti (solitamente blocchi di codice inseriti nelle pagine del sito ospite) possono raccogliere cookies di terze parti installati dai social network (ad esempio Facebook ,Twitter, YouTube, ecc.); il sito non condivide nessuna informazione con tali widget.<br>
Per avere informazioni ulteriori riguardo ai cookies dei principali social network è possibile visitare i siti:<br>
</p>
			  <ul class="text-left">
  <li>Privacy Facebook  -  https://www.facebook.com/help/cookies</li>
  <li>Privacy Twitter  -  https://twitter.com/privacy?lang=it</li>
<li>Privacy Google  -  https://www.google.it/intl/it/policies/privacy/#infocollect</li>
<li>Privacy LinkedIn  -  http://it.linkedin.com/legal/privacy-policy?trk=hb_ft_priv</li>
<li>Privacy Pinterest  -  https://about.pinterest.com/en/privacy-policy</li>
</ul>
          </div>
        </div>
      </div>
    </section>
    <hr>
<section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Gestione e cancellazione dei cookies</span></strong></h5>
            <p class="text-left">Per disabilitare l’uso di tutti o solo di alcuni cookies è necessario modificare le impostazioni del browser di navigazione (Firefox, Chrome, Explorer, Safari, Opera, ecc.). Solitamente i browser sono pre-impostati per accettare i cookies, a meno che vengano configurati dall’utente in modo differente. È possibile fare in modo che il browser blocchi alcuni o tutti i cookies, oppure presenti un messaggio all’utente prima di procedere all’installazione di un cookie.<br>
Per comodità riportiamo i link alla gestione cookies per i browser più diffusi:<br>
</p>
			  <ul class="text-left">
  <li>Chrome  -  https://support.google.com/chrome/answer/95647?hl=it</li>
  <li>Firefox  -  https://support.mozilla.org/it/kb/Gestione%20dei%20cookie</li>
<li>Explorer  -  http://windows.microsoft.com/it-it/internet-explorer/delete-manage-cookies#ie=ie-11</li>
<li>Opera  -  http://help.opera.com/Windows/10.00/it/cookies.html</li>
<li>Safari  -  http://support.apple.com/kb/HT1677?viewlocale=it_IT</li>
</ul>
          </div>
        </div>
      </div>
    </section>
    <hr>
	        <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Lista dei cookies utilizzati</span></strong></h5>
            <p class="text-left">La tabella seguente elenca i cookies che utilizziamo e quali informazioni contengono.</p>
          </div>
        </div>
      </div>
    </section>
    <hr>
<section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <table width="100%" border="1">
  <tbody>
    <tr class="d-flex">
      <th scope="col" class="text-left col-2"><span style="color: #e6007e">Nome Cookie</span></th>
      <th scope="col" class="text-left col-2"><span style="color: #e6007e">Dominio</span></th>
      <th scope="col" class="text-left col-2"><span style="color: #e6007e">Servizio</span></th>
      <th scope="col" class="text-left col-2"><span style="color: #e6007e">Tipo</span></th>
      <th scope="col" class="text-left col-2"><span style="color: #e6007e">Durata</span></th>
      <th scope="col" class="text-left col-2"><span style="color: #e6007e">Utilizzo</span></th>
    </tr>
    <tr class="d-flex">
      <td class="text-left col-2">__utma</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2">Performance</td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">È usato per distinguere utente e sessione. Il cookie è creato quando la libreria javascript viene eseguita e non esiste già il cookie __utma. Il cookie viene aggiornato ogni volta che i dati vengono inviati a Google Analytics.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">__utmb</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2">Performance</td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">È usato per determinare se una visita/sessione è nuova o di ritorno. Il cookie è creato quando la libreria javascript viene eseguita e non esiste già il cookie __utmb. Il cookie viene aggiornato ogni volta che i dati vengono inviati a Google Analytics.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">__utmc</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2">Performance</td>
      <td class="text-left col-2">Sessione</td>
      <td class="text-left col-2">Non è utilizzato nelle libreria ga.js ma viene impostato per interoperabilità con urchin.js. Storicamente, questo cookie opera in collaborazione con il cookie __utmb per determinare se l’utente sta effettuando una nuova sessione/visita.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">__utmt</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2">Performance</td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">È utilizzato per gestire le richieste effettuate al servizio di Google Analytics.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">__utmz</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2">Performance</td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">È usato per immagazzinare la sorgente di traffico o la campagna in modo da capire come l’utente ha raggiunto il sito. Il cookie è creato quando la libreria javascript viene eseguita e viene aggiornato ogni volta che i dati vengono inviati a Google Analytics.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">PHPSESSID</td>
      <td class="text-left col-2">Proprietario</td>
      <td class="text-left col-2"></td>
      <td class="text-left col-2">Funzionalità</td>
      <td class="text-left col-2">Sessione</td>
      <td class="text-left col-2"></td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">datr</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Facebook</td>
      <td class="text-left col-2"></td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2"></td>
    </tr>
       <tr class="d-flex">
      <td class="text-left col-2">APISID</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2"></td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">Cookies installati dal modulo Google Maps utilizzato per l’inclusione delle mappe nella pagina.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">HSID</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2"></td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">Cookies installati dal modulo Google Maps utilizzato per l’inclusione delle mappe nella pagina.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">NID</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2"></td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">Cookies installati dal modulo Google Maps utilizzato per l’inclusione delle mappe nella pagina.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">PREF</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2"></td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">Cookies installati dal modulo Google Maps utilizzato per l’inclusione delle mappe nella pagina.</td>
    </tr>
        <tr class="d-flex">
      <td class="text-left col-2">SID</td>
      <td class="text-left col-2">Terze parti</td>
      <td class="text-left col-2">Google Analytics</td>
      <td class="text-left col-2"></td>
      <td class="text-left col-2">Persistente</td>
      <td class="text-left col-2">Cookies installati dal modulo Google Maps utilizzato per l’inclusione delle mappe nella pagina.</td>
    </tr>
  </tbody>
</table>
          </div>
        </div>
      </div>
    </section>
    <hr>
	        <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p class="text-left">Nota: i cookies di terze parti possono cambiare nome, aumentare o diminuire di numero in qualsiasi momento e senza preavviso da parte del fornitore terzo.<br><br>

La presente informativa privacy è redatta in adempimento degli obblighi previsti dall’Art. 10 della Direttiva n. 95/46/CE, nonché a quanto previsto dalla Direttiva 2002/58/CE, come aggiornata dalla Direttiva 2009/136/CE, in materia di Cookie.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
	        <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="text-left"><strong><span style="color: #000000">Titolare del trattamento</span></strong></h5>
            <p class="text-left">Titolare del trattamento dei dati è EIFIS Editore SRL, con sede legale in Viale Malva Nord, 28, 48015 Cervia.
Ultimo aggiornamento 10 ottobre 2019.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <footer class="text-center">
    </footer>
