<app-top-bar 
[mode]=topBarMode
[menus]=menus2 
[titles]=titles 
[user_name]="userName" 
[section_ids]="section_id" 
(doCmd)="execCmd($event)"></app-top-bar>

<app-login-form [isActive]="loginFormIsActive" [title]= "loginFormTitle" [mode]="loginMode" (doCmd)="execCmd($event)"></app-login-form>

<app-message-form [isActive]="messageFormIsActive" [message]="message" (doCmd)="execCmd($event)"></app-message-form>

<ng-container *ngFor="let title of titles; let i=index">
    <section *ngIf="avideos[i] && avideos[i].length > 0" class="section" id={{section_id[i]}}>
        <div class="container">
            <app-video-list 
                [title]="title" 
                [videos]="avideos[i]"
                [userLogged]="isUserLogged"
                (doCmd)="execCmd($event)">
            </app-video-list>
        </div>
    </section>
</ng-container>


<app-bottom-section [menus]=menus (doCmd)="execCmd($event)"></app-bottom-section>

