.left-padding {
    padding-left: 20px !important;
}

div.right-margin {
    margin-right: 20px;
}

p.bottom-margin {
    margin-bottom: 10px;
}

h1 {
   font-weight: 300!important; 
}

section.section {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  
}